/* Define common transition properties */
[data-aos],
body[data-aos] {
    transition-duration: var(--aos-transition-duration, 0.5s);
    transition-delay: var(--aos-transition-delay, 0s);
    transition-timing-function: var(--aos-transition-timing-function, ease);
}

/* Animation for elements with specific data-aos-duration */
[data-aos][data-aos-duration] {
    --aos-transition-duration: calc(var(--aos-duration) / 1000);
}

/* Animation for elements with specific data-aos-delay */
[data-aos][data-aos-delay] {
    --aos-transition-delay: calc(var(--aos-delay) / 1000);
}

/* Animation for elements with specific data-aos-easing */
[data-aos][data-aos-easing] {
    --aos-transition-timing-function: var(--aos-easing);
}

/* Animation for fade effects */
[data-aos^="fade"] {
    opacity: 0;
    transform: translateY(0);
}

[data-aos^="fade"].aos-animate {
    opacity: 1;
    transform: translateY(0);
}

/* Animation for zoom effects */
[data-aos^="zoom"] {
    opacity: 0;
    transform: translate(0) scale(1);
}

[data-aos^="zoom"].aos-animate {
    opacity: 1;
    transform: translate(0) scale(1);
}

[data-aos="zoom-in"] {
    transform: scale(0.6);
}

[data-aos^="zoom-in-up"] {
    transform: translateY(100px) scale(0.6);
}

/* Define other specific animation effects as needed */
